.terminal-emulator,
.terminal-emulator .xterm {
  width: 100%;
  height: 100%;
}

.terminal-emulator .xterm {
  padding: 5px 12px 8px;
}

.terminal-emulator .xterm-viewport {
  scrollbar-color: var(--itera-color-border) transparent;
  scrollbar-width: thin;
}

.terminal-emulator .xterm-screen canvas {
  image-rendering: auto;
}

.terminal-emulator .xterm-helper-textarea:focus {
  outline: none;
}
